body{
	background: url('../images/Trivia-background.jpg');

	font-size: 25px;
}

header{
	margin-bottom: 20px;
}

.btn-primary,.reset{
	background-color: royalblue;
	color: white;
	font-family: 'Times New Roman', sans-serif;
	font-size: 30px;
	padding: 20px;
  margin-top: 0px;
  border: 3px solid black;
}
.btn-primary:hover, .reset:hover{
  background-color: greenyellow;
  color: black;
}

.container{
	margin-top: 50px;
	text-align: center;
	height: 100%;
	width: 700px;
}

.container2{
  background-color: cyan;
  text-align:center;
  border: 3px solid black
}
.container3{
  background-color: lightseagreen;
  text-align:center;
  border: 5px solid black;
  
}
 h1 {
   text-align: center;
   font-style: bold;
   color: black;
 }

h2, #message, #finalMessage{
	font-family: 'Times New Roman';
}

.thisChoice:hover{
	background-color: slateblue;
	color: white;
	padding: 10px;
}

#gif{
	margin: 50px;
}

@media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 200px;
		size: 200%;
	}	
}